In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("customer_signups.csv")

In [3]:
df.head()

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
0,CUST00000,Joshua Bryant,NaN,NaN,Instagram,NaN,basic,No,34,Female
1,CUST00001,Nicole Stewart,nicole1@example.com,02-01-24,LinkedIn,West,basic,Yes,29,Male
2,CUST00002,Rachel Allen,rachel2@example.com,03-01-24,Google,North,PREMIUM,Yes,34,Non-Binary
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,04-01-24,YouTube,NaN,Pro,No,40,Male
4,CUST00004,NaN,matthew4@mailhub.org,05-01-24,LinkedIn,West,Premium,No,25,Other

In [4]:
df.count()

customer_id         298
name                291
email               266
signup_date         298
source              291
region              270
plan_selected       292
marketing_opt_in    290
age                 288
gender              292
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       298 non-null    object
 1   name              291 non-null    object
 2   email             266 non-null    object
 3   signup_date       298 non-null    object
 4   source            291 non-null    object
 5   region            270 non-null    object
 6   plan_selected     292 non-null    object
 7   marketing_opt_in  290 non-null    object
 8   age               288 non-null    object
 9   gender            292 non-null    object
dtypes: object(10)
memory usage: 23.6+ KB

In [6]:
df.describe()

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender
count,298,291,266,298,291,270,292,290,288,292
unique,298,291,265,295,7,5,8,3,11,7
top,CUST00299,Mr. Bruce Bridges,lisa11@mailhub.org,not a date,YouTube,North,Premium,No,40,Other
freq,1,1,2,4,58,65,57,156,50,59

In [9]:
df['customer_id'].isna().sum()

np.int64(2)

In [11]:
df = df.dropna(subset=['customer_id'])

In [12]:
df['customer_id'].isna().sum()

np.int64(0)

In [71]:
df[pd.to_datetime(df['signup_date'], errors='coerce').isna()]['signup_date'].unique()

<DatetimeArray>
['NaT']
Length: 1, dtype: datetime64[ns]

In [73]:
df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')

In [74]:
df['signup_date']

0            NaT
1     2024-02-01
2     2024-03-01
3     2024-04-01
4     2024-05-01
         ...
295   2024-10-22
296   2024-10-23
297   2024-10-24
298   2024-10-25
299   2024-10-26
Name: signup_date, Length: 298, dtype: datetime64[ns]

Standardization

In [16]:
df['gender'].unique()

array(['Female', 'Male', 'Non-Binary', 'Other', 'male', 'FEMALE', nan,
       '123'], dtype=object)

In [17]:
df['gender'] = df['gender'].str.strip().str.title()
gender_map = {
    'Female':'Female', 'F':'Female',
    'Male':'Male', 'M':'Male',
    'Non-Binary':'Non-Binary', 'Non Binary':'Non-Binary',
    'Other':'Other'
}

df['gender'] = df['gender'].replace(gender_map)
df['gender'] = df['gender'].fillna('Unknown')

In [18]:
df['gender'].unique()

array(['Female', 'Male', 'Non-Binary', 'Other', 'Unknown', '123'],
      dtype=object)

In [19]:
df['gender'] = df['gender'].replace({'123':'Unknown'})

In [20]:
df['gender'].unique()

array(['Female', 'Male', 'Non-Binary', 'Other', 'Unknown'], dtype=object)

In [21]:
df['region'].unique()

array([nan, 'West', 'North', 'South', 'Central', 'East'], dtype=object)

In [22]:
df['region'] = df['region'].str.strip().str.title()
valid_regions = ['North','South','East','West','Central']
df['region'] = df['region'].where(df['region'].isin(valid_regions), 'Unknown')

In [23]:
df['region'].unique()

array(['Unknown', 'West', 'North', 'South', 'Central', 'East'],
      dtype=object)

In [24]:
df['plan_selected'].unique()

array(['basic', 'PREMIUM', 'Pro', 'Premium', 'UnknownPlan', 'PRO',
       'Basic', nan], dtype=object)

In [25]:
df['plan_selected'] = df['plan_selected'].str.strip().str.title()
plan_map = {
    'Basic':'Basic',
    'Premium':'Premium',
    'Pro':'Pro',
    'Unknownplan':'Unknown'
}

df['plan_selected'] = df['plan_selected'].replace(plan_map)
valid_plans = ['Basic','Premium','Pro','Unknown']
df['plan_selected'] = df['plan_selected'].where(df['plan_selected'].isin(valid_plans), 'Unknown')

In [26]:
df['plan_selected'].unique()

array(['Basic', 'Premium', 'Pro', 'Unknown'], dtype=object)

In [27]:
df.isna().sum()

customer_id          0
name                 9
email               34
signup_date          6
source               9
region               0
plan_selected        0
marketing_opt_in    10
age                 12
gender               0
dtype: int64

In [28]:
(df.isna().sum() / len(df)) * 100

customer_id          0.000000
name                 3.020134
email               11.409396
signup_date          2.013423
source               3.020134
region               0.000000
plan_selected        0.000000
marketing_opt_in     3.355705
age                  4.026846
gender               0.000000
dtype: float64

In [29]:
df['name'] = df['name'].fillna('Unknown')
df['email'] = df['email'].fillna('Unknown')
df['signup_date'] = df['signup_date'].fillna('Unknown')
df['source'] = df['source'].fillna('Unknown')
df['marketing_opt_in'] = df['marketing_opt_in'].fillna('Unknown')
df['source'] = df['source'].str.strip().replace({'??': 'Unknown'})

In [30]:
df['marketing_opt_in'].unique()

array(['No', 'Yes', 'Unknown', 'Nil'], dtype=object)

In [31]:
df['marketing_opt_in'] = df['marketing_opt_in'].replace({
    'Nil': 'No',
    'Unknown': 'Unknown'
})

In [32]:
df['marketing_opt_in'].unique()

array(['No', 'Yes', 'Unknown'], dtype=object)

In [33]:
df['age'].unique()

array(['34', '29', '40', '25', '60', '47', '53', '21', nan, 'unknown',
       'thirty', '206'], dtype=object)

In [34]:
df['age'] = df['age'].replace({
    'unknown': np.nan,
    'thirty': '30'
})

In [35]:
df['age'] = pd.to_numeric(df['age'], errors='coerce')

In [36]:
df['age'].unique()

array([ 34.,  29.,  40.,  25.,  60.,  47.,  53.,  21.,  nan,  30., 206.])

In [37]:
df['age'] = df['age'].fillna(df['age'].median())

In [38]:
df['age'].unique()

array([ 34.,  29.,  40.,  25.,  60.,  47.,  53.,  21.,  30., 206.])

In [39]:
df.dtypes

customer_id          object
name                 object
email                object
signup_date          object
source               object
region               object
plan_selected        object
marketing_opt_in     object
age                 float64
gender               object
dtype: object

Sign-ups per week (grouped by signup_date)

In [40]:
df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')
signups_per_week = df.groupby(pd.Grouper(key='signup_date', freq='W')).size()
print(signups_per_week)

signup_date
2024-01-07    6
2024-01-14    5
2024-01-21    7
2024-01-28    7
2024-02-04    8
2024-02-11    6
2024-02-18    6
2024-02-25    7
2024-03-03    7
2024-03-10    7
2024-03-17    5
2024-03-24    6
2024-03-31    6
2024-04-07    7
2024-04-14    5
2024-04-21    7
2024-04-28    7
2024-05-05    6
2024-05-12    4
2024-05-19    7
2024-05-26    7
2024-06-02    7
2024-06-09    7
2024-06-16    5
2024-06-23    7
2024-06-30    7
2024-07-07    7
2024-07-14    5
2024-07-21    6
2024-07-28    7
2024-08-04    7
2024-08-11    5
2024-08-18    6
2024-08-25    7
2024-09-01    7
2024-09-08    7
2024-09-15    5
2024-09-22    7
2024-09-29    7
2024-10-06    6
2024-10-13    5
2024-10-20    6
2024-10-27    6
2024-11-03    3
2024-11-10    7
2024-11-17    0
2024-11-24    0
2024-12-01    1
2024-12-08    7
2024-12-15    2
dtype: int64

/tmp/ipython-input-3973688609.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['signup_date'] = pd.to_datetime(df['signup_date'], errors='coerce')

In [41]:
signups_per_week.idxmax()

Timestamp('2024-02-04 00:00:00')

In [42]:
df['source'].value_counts()

source
YouTube      58
Google       50
Referral     49
Instagram    48
Facebook     40
LinkedIn     38
Unknown      15
Name: count, dtype: int64

In [43]:
df['region'].value_counts()

region
North      65
East       61
South      58
West       45
Central    39
Unknown    30
Name: count, dtype: int64

In [44]:
df['plan_selected'].value_counts()

plan_selected
Premium    99
Pro        93
Basic      92
Unknown    14
Name: count, dtype: int64

Sign-ups by source, region, and plan_selected

In [45]:
df.groupby(['source', 'region', 'plan_selected']).size()

source    region   plan_selected
Facebook  Central  Premium          4
                   Pro              3
          East     Basic            3
                   Premium          3
                   Pro              4
                                   ..
YouTube   Unknown  Unknown          1
          West     Basic            1
                   Premium          5
                   Pro              1
                   Unknown          1
Length: 119, dtype: int64

In [75]:
df.groupby(['source','region','plan_selected']).size().reset_index(name='count')

       source   region plan_selected  count
0    Facebook  Central       Premium      4
1    Facebook  Central           Pro      3
2    Facebook     East         Basic      3
3    Facebook     East       Premium      3
4    Facebook     East           Pro      4
..        ...      ...           ...    ...
114   YouTube  Unknown       Unknown      1
115   YouTube     West         Basic      1
116   YouTube     West       Premium      5
117   YouTube     West           Pro      1
118   YouTube     West       Unknown      1

[119 rows x 4 columns]

In [76]:
pd.set_option('display.max_rows', None)
df.groupby(['source', 'region', 'plan_selected']).size().reset_index(name='count')

        source   region plan_selected  count
0     Facebook  Central       Premium      4
1     Facebook  Central           Pro      3
2     Facebook     East         Basic      3
3     Facebook     East       Premium      3
4     Facebook     East           Pro      4
5     Facebook    North         Basic      1
6     Facebook    North       Premium      2
7     Facebook    North           Pro      4
8     Facebook    South         Basic      2
9     Facebook    South       Premium      4
10    Facebook    South           Pro      1
11    Facebook  Unknown         Basic      1
12    Facebook  Unknown       Premium      2
13    Facebook  Unknown           Pro      4
14    Facebook     West       Premium      1
15    Facebook     West           Pro      1
16      Google  Central         Basic      2
17      Google  Central       Premium      2
18      Google  Central           Pro      6
19      Google     East         Basic      1
20      Google     East       Premium      4
21      Google     East           Pro      1
22      Google     East       Unknown      1
23      Google    North         Basic      1
24      Google    North       Premium      7
25      Google    North           Pro      3
26      Google    North       Unknown      1
27      Google    South         Basic      6
28      Google    South           Pro      2
29      Google  Unknown         Basic      2
30      Google  Unknown       Premium      1
31      Google  Unknown           Pro      3
32      Google     West       Premium      3
33      Google     West           Pro      4
34   Instagram  Central         Basic      4
35   Instagram  Central           Pro      2
36   Instagram     East         Basic      1
37   Instagram     East       Premium      5
38   Instagram     East           Pro      4
39   Instagram     East       Unknown      1
40   Instagram    North         Basic      5
41   Instagram    North       Premium      6
42   Instagram    North           Pro      1
43   Instagram    North       Unknown      3
44   Instagram    South         Basic      1
45   Instagram    South       Premium      3
46   Instagram    South           Pro      3
47   Instagram    South       Unknown      1
48   Instagram  Unknown         Basic      1
49   Instagram     West         Basic      3
50   Instagram     West       Premium      4
51    LinkedIn  Central         Basic      1
52    LinkedIn  Central       Premium      1
53    LinkedIn  Central           Pro      1
54    LinkedIn     East         Basic      4
55    LinkedIn     East       Premium      1
56    LinkedIn     East           Pro      2
57    LinkedIn    North         Basic      3
58    LinkedIn    North       Premium      4
59    LinkedIn    North           Pro      3
60    LinkedIn    South         Basic      6
61    LinkedIn    South       Premium      3
62    LinkedIn    South           Pro      1
63    LinkedIn  Unknown       Premium      1
64    LinkedIn     West         Basic      2
65    LinkedIn     West       Premium      2
66    LinkedIn     West           Pro      3
67    Referral  Central         Basic      3
68    Referral  Central       Premium      1
69    Referral  Central           Pro      1
70    Referral     East         Basic      4
71    Referral     East       Premium      1
72    Referral     East           Pro      3
73    Referral     East       Unknown      1
74    Referral    North         Basic      3
75    Referral    North       Premium      3
76    Referral    North           Pro      5
77    Referral    South         Basic      4
78    Referral    South       Premium      3
79    Referral    South           Pro      2
80    Referral  Unknown       Premium      4
81    Referral  Unknown           Pro      1
82    Referral     West         Basic      2
83    Referral     West       Premium      4
84    Referral     West           Pro      3
85    Referral     West       Unknown      1
86     Unknown  Central           Pro      1
87     Unknown     East           Pro      1
88     Unknown    North       Premium      1
89     Unknown    North           Pro      1
90     Unknown    North       Unknown      2
91     Unknown    South       Premium      1
92     Unknown    South           Pro      2
93     Unknown  Unknown         Basic      1
94     Unknown  Unknown       Premium      1
95     Unknown     West         Basic      1
96     Unknown     West       Premium      1
97     Unknown     West           Pro      2
98     YouTube  Central         Basic      2
99     YouTube  Central       Premium      2
100    YouTube  Central           Pro      3
101    YouTube     East         Basic      8
102    YouTube     East       Premium      3
103    YouTube     East           Pro      5
104    YouTube    North         Basic      1
105    YouTube    North       Premium      2
106    YouTube    North           Pro      2
107    YouTube    North       Unknown      1
108    YouTube    South         Basic      9
109    YouTube    South       Premium      2
110    YouTube    South           Pro      2
111    YouTube  Unknown         Basic      3
112    YouTube  Unknown       Premium      2
113    YouTube  Unknown           Pro      2
114    YouTube  Unknown       Unknown      1
115    YouTube     West         Basic      1
116    YouTube     West       Premium      5
117    YouTube     West           Pro      1
118    YouTube     West       Unknown      1

In [77]:
result = df.groupby(['source','region','plan_selected']).size().sort_values(ascending=False)
result.head(10)

source     region   plan_selected
YouTube    South    Basic            9
           East     Basic            8
Google     North    Premium          7
Instagram  North    Premium          6
LinkedIn   South    Basic            6
Google     South    Basic            6
           Central  Pro              6
Referral   North    Pro              5
Instagram  East     Premium          5
YouTube    East     Pro              5
dtype: int64

Marke4ng opt-in counts by gender

In [78]:
df.groupby('gender')['marketing_opt_in'].value_counts()

gender      marketing_opt_in
Female      0.0                 47
            1.0                 44
Male        0.0                 51
            1.0                 37
Non-Binary  0.0                 20
            1.0                 19
Other       0.0                 32
            1.0                 24
Unknown     0.0                  7
            1.0                  7
Name: count, dtype: int64

Age summary: min, max, mean, median, null count

In [47]:
age_summary = {
    'min': df['age'].min(),
    'max': df['age'].max(),
    'mean': df['age'].mean(),
    'median': df['age'].median(),
    'null_count': df['age'].isna().sum()
}

pd.DataFrame([age_summary])

    min    max       mean  median  null_count
0  21.0  206.0  36.030201    34.0           0

Which acquisition source brought in the most users last month

In [48]:
last_month = df['signup_date'].dt.to_period('M').max()
df_last_month = df[df['signup_date'].dt.to_period('M') == last_month]

In [49]:
source_counts = df_last_month['source'].value_counts()
print(source_counts)

source
Instagram    4
YouTube      2
Referral     2
Facebook     1
LinkedIn     1
Name: count, dtype: int64

In [50]:
top_source = source_counts.idxmax()
top_count = source_counts.max()
print(f"The highest acquisition source last month was {top_source} with {top_count} sign-ups.")

The highest acquisition source last month was Instagram with 4 sign-ups.

region shows signs of missing or incomplete data

In [51]:
df['region'].value_counts(dropna=False)

region
North      65
East       61
South      58
West       45
Central    39
Unknown    30
Name: count, dtype: int64

In [52]:
missing_region = df['region'].isin(['Unknown', np.nan]).sum()
print("Missing or incomplete region values:", missing_region)

Missing or incomplete region values: 30

In [85]:
region_null_summary = df.groupby('region').apply(lambda x: x.isna().sum())
region_null_summary

/tmp/ipython-input-4073480450.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  region_null_summary = df.groupby('region').apply(lambda x: x.isna().sum())

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender,age_clean,age_group
region,,,,,,,,,,,,
Central,0,0,0,1,0,0,0,2,0,0,0,0
East,0,0,0,0,0,0,0,3,0,0,0,0
North,0,0,0,1,0,0,0,2,0,0,1,1
South,0,0,0,2,0,0,0,2,0,0,0,0
Unknown,0,0,0,1,0,0,0,0,0,0,0,0
West,0,0,0,1,0,0,0,1,0,0,0,0

Age trends- opt in to markeing?

In [53]:
df['age_clean'] = pd.to_numeric(df['age'], errors='coerce')
df.loc[(df['age_clean'] < 15) | (df['age_clean'] > 100), 'age_clean'] = np.nan

In [54]:
bins = [18, 25, 35, 45, 55, 65, 100]
labels = ['18-24', '25-34', '35-44', '45-54', '55-64', '65+']
df['age_group'] = pd.cut(df['age_clean'], bins=bins, labels=labels, right=False)

In [55]:
df['marketing_opt_in'] = df['marketing_opt_in'].replace({
    'Yes': 1,
    'No': 0,
    'Unknown': np.nan,
})

/tmp/ipython-input-2229770167.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['marketing_opt_in'] = df['marketing_opt_in'].replace({

In [56]:
df.groupby('age_group')['marketing_opt_in'].mean()

/tmp/ipython-input-3525092084.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['marketing_opt_in'].mean()

age_group
18-24    0.357143
25-34    0.456376
35-44    0.489796
45-54    0.489362
55-64    0.428571
65+           NaN
Name: marketing_opt_in, dtype: float64

In [57]:
df.groupby('age_group')['marketing_opt_in'].mean() * 100

/tmp/ipython-input-3345396325.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['marketing_opt_in'].mean() * 100

age_group
18-24    35.714286
25-34    45.637584
35-44    48.979592
45-54    48.936170
55-64    42.857143
65+            NaN
Name: marketing_opt_in, dtype: float64

In [58]:
df['plan_selected'].value_counts()

plan_selected
Premium    99
Pro        93
Basic      92
Unknown    14
Name: count, dtype: int64

Which plan is most commonly selected, and by which age group

In [59]:
df.groupby('age_group')['plan_selected'].value_counts().sort_values(ascending=False)

/tmp/ipython-input-1921105912.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['plan_selected'].value_counts().sort_values(ascending=False)

age_group  plan_selected
25-34      Basic            52
           Premium          51
           Pro              47
35-44      Premium          23
45-54      Pro              17
           Premium          15
           Basic            14
35-44      Pro              13
18-24      Pro              12
35-44      Basic            11
18-24      Basic             9
           Premium           6
25-34      Unknown           6
55-64      Basic             5
           Pro               4
           Premium           4
45-54      Unknown           3
35-44      Unknown           3
18-24      Unknown           1
55-64      Unknown           1
65+        Basic             0
           Premium           0
           Pro               0
           Unknown           0
Name: count, dtype: int64

In [60]:
df.groupby(['age_group', 'plan_selected']).size().unstack(fill_value=0)

/tmp/ipython-input-2171953930.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['age_group', 'plan_selected']).size().unstack(fill_value=0)

plan_selected  Basic  Premium  Pro  Unknown
age_group
18-24              9        6   12        1
25-34             52       51   47        6
35-44             11       23   13        3
45-54             14       15   17        3
55-64              5        4    4        1
65+                0        0    0        0

In [81]:
tickets = pd.read_csv("support_tickets.csv")
tickets.head()

   ticket_id customer_id ticket_date       issue_type resolved
0  TKT0000-1   CUST00203  2024-08-17          Billing      Yes
1  TKT0000-2   CUST00203  2024-07-22  Technical Error      Yes
2  TKT0000-3   CUST00203  2024-07-22            Other      Yes
3  TKT0001-1   CUST00266  2024-09-26    Account Setup      Yes
4  TKT0001-2   CUST00266  2024-10-09  Technical Error       No

In [82]:
tickets.info()
tickets.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ticket_id    123 non-null    object
 1   customer_id  123 non-null    object
 2   ticket_date  123 non-null    object
 3   issue_type   123 non-null    object
 4   resolved     123 non-null    object
dtypes: object(5)
memory usage: 4.9+ KB

        ticket_id customer_id ticket_date   issue_type resolved
count         123         123         123          123      123
unique        123          60          99            5        2
top     TKT0000-1   CUST00203  2024-04-07  Login Issue      Yes
freq            1           3           3           29      103

In [83]:
tickets['ticket_date']= pd.to_datetime(tickets['ticket_date'])

In [62]:
df_merged = pd.merge(df, tickets, on='customer_id', how='left')

In [63]:
df_merged

,customer_id,name,email,signup_date,source,region,plan_selected,marketing_opt_in,age,gender,age_clean,age_group,ticket_id,ticket_date,issue_type,resolved
0,CUST00000,Joshua Bryant,Unknown,NaT,Instagram,Unknown,Basic,0.0,34.0,Female,34.0,25-34,NaN,NaT,NaN,NaN
1,CUST00001,Nicole Stewart,nicole1@example.com,2024-02-01,LinkedIn,West,Basic,1.0,29.0,Male,29.0,25-34,NaN,NaT,NaN,NaN
2,CUST00002,Rachel Allen,rachel2@example.com,2024-03-01,Google,North,Premium,1.0,34.0,Non-Binary,34.0,25-34,NaN,NaT,NaN,NaN
3,CUST00003,Zachary Sanchez,zachary3@mailhub.org,2024-04-01,YouTube,Unknown,Pro,0.0,40.0,Male,40.0,35-44,NaN,NaT,NaN,NaN
4,CUST00004,Unknown,matthew4@mailhub.org,2024-05-01,LinkedIn,West,Premium,0.0,25.0,Other,25.0,25-34,NaN,NaT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,CUST00297,Timothy Mclaughlin,Unknown,2024-10-24,Instagram,West,Basic,1.0,60.0,Unknown,60.0,55-64,TKT0054-1,2024-11-09,Other,Yes
357,CUST00297,Timothy Mclaughlin,Unknown,2024-10-24,Instagram,West,Basic,1.0,60.0,Unknown,60.0,55-64,TKT0054-2,2024-11-01,Account Setup,Yes
358,CUST00297,Timothy Mclaughlin,Unknown,2024-10-24,Instagram,West,Basic,1.0,60.0,Unknown,60.0,55-64,TKT0054-3,2024-11-13,Technical Error,Yes
359,CUST00298,Justin Mcintyre,justin98@mailhub.org,2024-10-25,YouTube,South,Premium,0.0,53.0,Male,53.0,45-54,NaN,NaT,NaN,NaN
360,CUST00299,Mr. Bruce Bridges,mr.99@example.com,2024-10-26,Unknown,North,Premium,1.0,29.0,Male,29.0,25-34,NaN,NaT,NaN,NaN

In [65]:
df_merged.columns

Index(['customer_id', 'name', 'email', 'signup_date', 'source', 'region',
       'plan_selected', 'marketing_opt_in', 'age', 'gender', 'age_clean',
       'age_group', 'ticket_id', 'ticket_date', 'issue_type', 'resolved'],
      dtype='object')

In [66]:
df_merged['signup_date'] = pd.to_datetime(df_merged['signup_date'], errors='coerce')
df_merged['ticket_date'] = pd.to_datetime(df_merged['ticket_date'], errors='coerce')
df_merged['days_to_support'] = (df_merged['ticket_date'] - df_merged['signup_date']).dt.days

# Filter customers who raised tickets in 14 days (0â€“14 days)
early_support = df_merged[(df_merged['days_to_support'] >= 0) &
                          (df_merged['days_to_support'] <= 14)]

early_support_count = early_support['customer_id'].nunique()
early_support_count

47

In [67]:
df_merged.groupby(['region', 'plan_selected'])['ticket_id'].count().unstack(fill_value=0)

plan_selected  Basic  Premium  Pro  Unknown
region
Central            2        6   10        0
East              11        1   14        2
North              3        6   11        6
South             14        2    3        0
Unknown            2        0    3        0
West              10       11    6        0

In [69]:
support_summary = df_merged.groupby(['plan_selected', 'region'])['ticket_id'].count().unstack(fill_value=0)
support_summary

region         Central  East  North  South  Unknown  West
plan_selected
Basic                2    11      3     14        2    10
Premium              6     1      6      2        0    11
Pro                 10    14     11      3        3     6
Unknown              0     2      6      0        0     0

In [70]:
support_rate = (
    df_merged.groupby(['plan_selected','region'])['ticket_id'].count() /
    df_merged.groupby(['plan_selected','region'])['customer_id'].count()
) * 100

support_rate.unstack()

region,Central,East,North,South,Unknown,West
plan_selected,,,,,,
Basic,15.384615,42.307692,20.000000,38.888889,22.222222,66.666667
Premium,42.857143,5.882353,20.689655,12.500000,0.000000,42.307692
Pro,45.454545,50.000000,45.833333,21.428571,25.000000,37.500000
Unknown,NaN,50.000000,60.000000,0.000000,0.000000,0.000000